<div class="card-body animate__animated animate__fadeIn">
    <div class="card-header justify-space-between">
      <button class="button"><a href="dashboard/{{id}}">{{party_name}}</a></button>
      Location: <span style="color: var(--primary);">{{party_location}}</span><br />
      Date & Time: <span style="color: var(--primary);">{{format_date party_date}} @ {{format_time party_date}}</span><br />
      Hosted by <span style="color: var(--primary);">{{user.first_name}} {{getFirstLetter user.last_name}}.</span><br />      
    </div>  
</div>
