  {{#each this}}
  ID: {{id}}
    <p class="card-body2"> 
    {{item_name}} - {{item_type}}<br />
      {{dietary}}<br />
    Attendee: {{user.first_name}} {{getFirstLetter user.last_name}}.
    <input type="hidden" name="meal-id" value={{id}}>
    {{#ifEquals userId user.id}}
      <button type="button" class="button" id="delete-meal-btn" value={{id}}>Delete Meal</button>
    {{/ifEquals}}
    </p>
  {{/each}}