  {{#each this}}
  ID: {{id}}
    <p class="card-body2"> 
    {{item_name}} - {{item_type}}<br />
      {{dietary}}<br />
    Attendee: {{user.first_name}} {{getFirstLetter user.last_name}}.
    {{!-- <input type="button" class="button" name="meal-id" value={{id}}> 
    {{#ifEquals userId user.id}}
      <input type="button" class="button" name="meal-id" value="{{id}}"> Text
    {{/ifEquals}} --}}
    {{{fullId userId user.id id}}}

    </p>
  {{/each}}