  {{#each this}}
    <p class="card-body2"> 
    {{item_name}} - {{item_type}} <br />
    {{#if dietary}}
      {{dietary}}
    {{/if}} <br />
    Attendee: {{user.first_name}} {{getFirstLetter user.last_name}}.
    </p>
  {{/each}}