<div class="card">
  <div class="card-header  flex-row justify-space-between">
    <h2>
      <a href="/post/{{party.id}}">
        <div class="col-8">{{party_name}}</div>
      </a>
    </h2>
    <div class="col-3">hosted by {{user.first_name}} {{getFirstLetter user.last_name}}.
    </div>
  </div>  
  <p class="card-body">
   {{post.post_content}}
  </p>
</div>
<input type="hidden" name="post-id" value="{{post.id}}"/>
{{#if loggedIn}}
<div class="card">
  <div class="card-header"></div>
  <form class="card-body" id="new-comment-form">
    
    <p class="form-label">Comment:</p>
    <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}
