<div class="">
  <div class="">
    <h2>
      <a href="/party/{{party.id}}">
        <div class="col-8">{{party.party_name}}</div>
      </a>
    </h2>
    <div class="col-3">hosted by {{party.user.first_name}}.
    </div>
  </div>  
  <p class="card-body">
   {{party.party_location}}
   {{party.party_date}}
  </p>
</div>
<input type="hidden" name="party-id" value="{{party.id}}"/>
{{#if loggedIn}}
<div class="card">
  <div class="card-header"></div>
  <form class="card-body" id="new-comment-form">
    
    <p class="form-label">Comment:</p>
    <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{/if}}

{{> comments party.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}
